*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
    text-align: center;
}
.heading{
    font-size: xx-large;
    font-style: italic;
    color: #5b037b;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100%;
    border-style: double;
    border-width: 10px;
    border-color: #ff0000;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}
.dob{
    text-align: center;
    color: rgb(85, 94, 2);
    margin: 60px 55px 55px 50px;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.form-fill{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: larger;
    color: #fb0ca0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#date{
    margin-left: 8px;
    margin-right: 18px;
    width: 123px;
    height: 30px;
    border-radius: 8px;
    border-color:  #a443d8;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color: black;
    background-color: aqua;
}
#mnth{
    margin-left: 8px;
    margin-right: 18px;
    width: 123px;
    height: 30px;
    border-radius: 8px;
    border-color:  #a443d8;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color:black;
    background-color: aqua;
}
#yr{
    margin-left: 8px;
    margin-right: 18px;
    width: 123px;
    height: 30px;
    border-radius: 8px;
    border-color:  #a443d8;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    color:black;
    background-color: aqua;
}
#submit{
    width: 130px;
    height: 38px;
    border-radius: 8px;
    border-color: #ffee03;
    border-width: 4px;
    background-color: black;
    border-style:double;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(42, 226, 1);
}
#submit:hover{
    background-color:orangered;
    border-style: double;
    font-size: x-large;
}
#age{
    color: rgb(113, 0, 113);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: 700;
}




/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    .form-fill{
        width: 100%;
        margin-left: 10px;
    }
    .dob{
        font-size: x-large;
    }
    #date{
        width: 55px;
    }
    #mnth{
        width: 55px;
    }
    #yr{
        width: 65px;
    }
    #age{
        font-size: x-large;
    }
}

